<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gmf_aeroasia.iormobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Splashscreen"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".ReportGuestActivity" />

        <!-- <activity android:name=".DetailActivity.DetailActivity" /> -->
        <activity android:name=".detail_laporan.DetailActivity" />
        <activity android:name=".create_laporan.CreateIORActivity" />
        <activity android:name=".profil_pegawai.ProfilActivity"></activity>
    </application>

</manifest>